* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
div {
    white-space: nowrap;
}
span.label {
    display: block;
}
progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 20px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
    color: royalblue;
    position: relative;
}
::-webkit-progress-bar {
    background-color: #444;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}
::-webkit-progress-value {
    background-image: -webkit-linear-gradient( 135deg, transparent, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient( top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .2)), -webkit-linear-gradient( left, #09c, #09c);
    position: relative;
    border-radius: 3px;
}
progress[value]::-webkit-progress-value:after {
    content: '';
    width: 5px;
    height: 5px;
    top: 7px;
    right: 7px;
    background-color: white;
}
p[data-value] {
    position: relative;
}
p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
    color: white;
}
