<!--
    Grump.List

    TODO
    - clean up template
    - bind content
-->
<polymer-element name='grump-list' attributes='store'>
    <template>
        <link rel="stylesheet" type="text/css" href="grump-list.css" />
        <template if="{{hasData}}">
            <span style="">Downloads</span>
            <div style="overflow-x:hidden;overflow-y:scroll;max-height:250px;">

                <template repeat="{{data}}">
                    <div>
                        <span class="label">{{name}}</span>
                        <p style="float:right;top:2px;z-index:1;width:{{progress}}%" data-value="{{progress}}">&nbsp;</p>
                        <progress max="100" value="{{progress}}"></progress>
                    </div>
                </template>

            </div>
        </template>
    </template>
    <script>
/**
 * Grump.List
 * 
 */
Polymer('grump-list', {
    data: [],
    hasData: false,
    ready: function() {
        var that = this;
        App.store.on('torrents', function(data) {
            that.data = data;
            that.hasData = that.data.length > 0;
        });
    }
});

    </script>
</polymer-element>
