div.icon {
    background-color: #29A352;
    padding: 1%;
    margin: 0.5%;
    border-radius: 10%;
    display: inline-block;
    transition-property: background;
    transition-duration: 200ms;
    height: 110px;
    width: 110px;
    position: relative;
}
div.nocolor {
    background-color: transparent;
}
.horizontal-scroller {
    overflow-y: hidden;
    overflow-x: scroll;
}
div.icon img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div.icon:hover, div.icon:active {
    cursor: pointer;
    background-color: #297AA3;
}
input {
    font-size: 20px;
}
.icon-holder {
    z-index: 4;
    margin-top: 2px;
    height: auto;
    text-align: center;
    float: right;
}
div.white {
    background-color: #ffffff;
}
div.orange {
    background-color: #A35229;
}
div.blue {
    background-color: #293DA3;
}
div.red {
    background-color: #A3293D;
}
div.purple {
    background-color: #A3297A;
}
