<!--
    Grump.Icons

    TODO
    - data source configurable
    - make template configurable
-->
<polymer-element name='grump-icons'>
    <template>
    <link rel="stylesheet" type="text/css" href="grump-icons.css" />
        <div class="icon-holder">
            <template id="colors" repeat="{{icons}}">
                <div class="icon {{class}}">
                    <a href="{{href}}"><img src="/images/{{image}}" />
                    </a>
                </div>
            </template>
        </div>

    </template>
    <script>

/**
 * Grump.Icons
 * 
 */
Polymer('grump-icons', {
    icons: [],
    ready: function() {
        var that = this;
        App.store.get('icons', function(icons) {
            that.icons = icons;
        });
    }
});

    </script>
</polymer-element>
