::-webkit-scrollbar {
    display: none;
}
#episodes {
    z-index: 1;
    width: 70%;
    float: left;
}
#air-date {
    font-size: 3em;
    margin: 2px;
}
.show-container {
    text-align: vertical;
}
.show-name {
    cursor: pointer;
    transition-property: font-size, text-shadow;
    transition-duration: 150ms;
}
.show-name:hover {
    font-size: 1.1em;
    text-shadow: 2px 2px 20px #999;
}
.massive{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.massive img {
    height: 300%;
    top: -20px;
    right: -20px;
  -webkit-transform:translate3d(0, 0, 0);   
 
    z-index: -1;
    opacity: 0.30;
}
.massive span {
    font-size: 24em;
    z-index: -5;
    right: 0;
    bottom: 0;
    font-family: arial;
    opacity: 0.03;
    color: #CE6C3B;
    user-select: none;
    text-align: right;
    -webkit-animation: slidein 30s linear infinite;
}
@-webkit-keyframes slidein {
    0% {
        right: 50%;
    }
    50% {
        right: 0;
    }
    100% {
        right: 50%;
    }
}
h1, h2, h3, h4 {
    font-kerning: normal;
    -webkit-font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
#show {
    margin: 0;
    background-color: #000;
    z-index: 100;
    height: 100%;
    display: block;
}
#show.active {} #close {
    font-family: arial;
    font-size: 3em;
    cursor: pointer;
    position: fixed;
    right: 5px;
    top: 2px;
}
#close {
    font-family: arial;
    cursor: pointer;
    position: fixed;
    transition-property: opacity;
    transition-duration: 200ms;
    right: 5px;
    top: 2px;
    opacity: 0.8;
}
#close:hover {
    opacity: 1;
}
.title {
    user-select: none;
    width:auto;
    cursor: pointer;
    display:inline;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    font-size: 35px;
}
.title img {
    display: block;
    max-width: 100%;
}
table {
    font-size: 2em;
    width: 100%;
}
.container {
    height: 100%;
    flex-flow: column;
    display: flex;
}
.initial {
    flex: initial;
    width: 200px;
    min-width: 100px;
}
.none {
    flex: none;
    width: 200px;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
#episodes-container {
    overflow: scroll;
}
