<!--
    Grump.Viewer
-->


<polymer-element name='grump-viewer' attributes="description">

    <template bind="{{item}}">



        <link rel="stylesheet" type="text/css" href="grump-viewer.css" />






        <div id="show">

            <style shim-shadowdom>
            core-scroll-header-panel {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            
            core-scroll-header-panel::shadow #condensedHeaderBg {
                background-color: #f4b400;
            }
            core-toolbar {
                color: #f1f1f1;
                fill: #f1f1f1;
                background-color: transparent;
            }
            .content {
                padding: 8px;
            }
            </style>


            <core-scroll-header-panel style="width:100%" flex>
                <core-toolbar>
                    <core-icon-button icon="arrow-back" on-click="{{close}}"></core-icon-button>

                        <h1 class="title" on-click="{{close}}">{{item.name}}</h1>
                </core-toolbar>

                <template if="{{item}}">
                <div class="massive">
                <!--
                    <img src="{{item.image}}"/>
                    <span class="massive-title">{{item.name}}</span>
                -->
                </div>
                </template>


                <div id="episodes" class="container">
                    <div class="flex1">

                        <img src="" name="{{item.name}}__{{item.name}}" class="transcoded {{item.show.name}}" style="display:inline-block;height:10%;" />
                        <h4 id="air-date">Next Air Date: {{item.show.next_ep_airdate}}</h4>
                        <h2>Description</h2> {{description}}
                    </div>
                    <h2>Downloaded Episodes</h2>

                    <div id="episodes-container" class="flex2">
                        <template repeat="{{season in item.seasons}}">

                            <h3>Season {{season.seasonId}}</h3>
                            <table>
                                <template repeat="{{ep in season.episodes}}">

                                    <tr>

                                        <td>
                                            <div class="show-container">

                                                <span name="{{ep.name}}" class="show-name">{{ep.name}}</span>

                                            </div>
                                        </td>
                                        <td style="text-align:right">
                                            {{ep.airdate}}
                                        </td>
                                    </tr>
                                </template>
                            </table>
                        </template>
                    </div>



                </div>
            </core-scroll-header-panel>
        </div>

    </template>
    <script type="text/javascript">
/**
 * Grump.Viewer
 *
 */
/* globals App,Polymer,Image*/
Polymer('grump-viewer', {
    setData: function(data){
        this.item = data;
        App.page(1);
    },
    ready: function() {
        var that = this;
        App.viewer = this; 
        console.log(this.item);
        console.log('inited viewer');
    },
    close: function() {
        App.page(0);
    }
});

    </script>
</polymer-element>
