.reddits {
    text-align: center;
    float: right;
}
div.reddit {
    cursor: pointer;
    display: inline-block;
    width: 110px;
    height: 110px;
    border: 2px;
    border-radius: 200px;
    border: 2px solid #fff;
    background-position: center, center, center;
    background-repeat: no-repeat;
    background-size: 150%;
    text-align: center;
}
div.reddit span {
    float: left;
    width: 100%;
    font-size: 3em;
    height: 0;
    overflow: visible;
    display: none;
}
div.reddit:hover span {
    display: block;
}
a {
    color: white;
}
