<!--
    Grump.Reddit
-->


<polymer-element name='grump-reddit' attributes='subreddit'>
    <template>
        <core-ajax auto url="http://www.reddit.com/r/{{subreddit}}.json?limit=6&sort=top&t=today" handleAs="json" on-core-response="{{handleResponse}}"></core-ajax>

        <link rel="stylesheet" type="text/css" href="grump-reddit.css" />
        <div class="reddits">
            <template repeat="{{reddits}}">
                <div class="reddit {{class}}" style="background-image: url('{{thumbnail}}'); ">
                    <span><a href="{{url}}">{{ups}}</a></span>
                </div>
            </template>
        </div>
    </template>
    <script>
        /**
 * Grump.Reddit
 *
 */
Polymer('grump-reddit', {

    /**
     * Defines subreddit to get links from
     *
     * @attribute subreddit
     * @type string
     * @default 'videos'
     */
    subreddit: 'videos',
    handleResponse: function(e, r) {
        var reddits = _.pluck(r.response.data.children, 'data');
        this.reddits = _.where(reddits, {
            'stickied': false
        });
    }
});

    </script>
</polymer-element>
