<!--
    Grump.HorizontalScroller
-->



<polymer-element name='grump-horizontal-scroller' attributes='grumpLabel,store,selected'>
    <template>
        <link rel="stylesheet" type="text/css" href="grump-horizontal-scroller.css" />
        <h3>{{grumpLabel}}</h3>
        <div class="fade-out" touch-action="auto"></div>
        <div  class="horizontal-scroller" touch-action="pan-x">
            <div on-mousewheel="{{wheel}}"  class="poster-viewer">
            <div id="status">
                <template repeat="{{data}}">
                    <img class="poster" on-click="{{clicked}}" name="{{_id}}" src="{{image}}"/>
                </template>
            </div>
                <content></content>
            </div>
        </div>
    </template>
    <script>
        /**
 * Grump.HorizontalScroller
 *
 */
Polymer('grump-horizontal-scroller', {
    clicked: function(elem) {
        
        var item = _.find(this.data, function(a) {
            return a._id == elem.toElement.name;
        });

        if (this.selected) {
            window[this.selected].call(this, item);
        }
    },
    ready: function() {
        if (!this.store) {
            return;
        }

        var that = this;
        App.store.on(this.store, function(data) {
            that.data = data;
        });
    },
    wheel: function(e, a, elem) {
        e = window.event || e;
        if (e.wheelDeltaX != 0) {
            return;
        }
        var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
        elem.scrollLeft -= (delta * 135); // Multiplied by 40
    }
});

    </script>
</polymer-element>
