.poster-viewer {
    padding: 0.2em;
    height: 30%;
    overflow-y: hidden;
}
.poster-viewer, .poster {
    white-space: nowrap;
    display: inline-block;
}
.poster {
    -webkit-backface-visibility: hidden;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 200ms;
}
.poster:last-child {
    margin-right: 25px;
}
.poster:hover {
    opacity: 0.4;
}
@media (max-width: 1024px), handheld {
    .poster-viewer, .poster {
        max-width: 99.9%;
    }
    .poster {
        margin: 0 0px;
    }
}
h2, h3 {
    font-family: jfont;
    margin: 0 0 2px 20px;
}
h3 {
    line-height: 1em;
    font-size: 1.2em;
    color: #A3293D;
}
#status {
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}
:host {
    overflow-x: hidden;
    float: left;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
}
.horizontal-scroller{
    -webkit-transform:translate3d(0, 0, 0);   
}
.poster-viewer, .horizontal-scroller {
    height: 90%;
    overflow-y: hidden;
    overflow-x: scroll;
}
div.horizontal-scroller {} .poster-viewer {
    padding: 0.2em;
    overflow-y: hidden;
}
.poster-viewer {
    white-space: nowrap;
}
.fade-out {
    position: absolute;
    width: 12%;
    height: 100%;
    opacity: 1;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
}
